html, body {
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0px;
    padding: 0%;
}

.title {
    color: black;
    font-family: trajan-pro-3, serif;
    margin: 0%;
    padding: 0%;

    &--big{
        font-size: 84px;
    }

    &--normal{
        font-size: 63px;
    }

    &--thin{
        font-size: 47px;
    }
    &--perso{
        font-size: 27px;
    }
}


.text {
    font-family: 'EB Garamond', serif;
    font-size: 16px;
    margin: 0%;
    padding: 5px 0px 5px 0px;
}

.intro {
    background-image: url(../assets/images/maison-rome.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    height: 100vh; 
    position: relative;
}

.intro__img {
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: logo-intro 29s;
}

.intro__text{
    -webkit-animation: 10s ease 0s normal forwards 1 anim-intro;
    animation: 10s ease 0s normal forwards 1 anim-intro;
    text-align: center;
}

.chap__img {
    width: 17%;
    position: absolute;
    bottom: 0%;
    left: 10%;
    animation: intro-marcus 7s;

}

.chap__img--place {
    left: 1%;
}

.chat {
    border-radius: 20px;
    border: solid 2px #FFDB1C;
    padding: 10px;
    position: absolute;
    bottom: 20px;
    background-color: whitesmoke;
    left: 50%;
    transform: translate(-50%);
    width: 450px;
    //animation: intro-chat 4s;
}

.link {
    background-color: #FFEC89;
    color: black;
    font-family: trajan-pro-3, serif;
    border: none;
    font-size: 16px;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
}

.main {
    height: 100vh;
    position: relative;
}
#chap2 {
    background-color: #9ec6e2;
    z-index: -3;
    animation: colorchange 5s;
}
.chambre {
    background-image: url(../assets/images/CHAMBRE.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%; 
    z-index: 2;
    animation: filtrecolor 5s;
    filter: grayscale(20%);

}

.moon {
    background-image: url(../assets/images/lune.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5%;
    position: absolute;
    width: 73%;
    animation: moonset 3s;
}

.sun {
    background-image: url(../assets/images/soleil.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5%;
    position: absolute;
    height: 42%;
    width: 73%;
    animation: sunrise 5s;
}

.cuisine {
    background-image: url(../assets/images/cuisine.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%; 
}

.table {
    background-image: url(../assets/images/table.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%; 
}

.food {
    height: 30px;
}

.food1{
    height: 20px;
}

.foods {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: flex-end;
}

.hide {
    display: none;
}
.hidep{
    display: none;
}

@media (orientation : portrait){
    .hidep {
        display: block;

        .title {
            color: whitesmoke;
        }
    }

    .portrait {
        height: 100vh;
        background-color: #75161E;
        color: whitesmoke;
        display: flex;
        align-items: center;
        padding: 20px;
        justify-content: center;
    }
    .main {
        display: none;
    }
}

@media (min-width: 1000px) {
    .chap__img{
        width: 25%;
    }

    .chat {
        left: 50%;
        transform: translate(-50%);
        margin: 0%;
    }

    .food1{
        height: 40%;
    }
    
    .food {
        height: 50%;
    }

    .foods {
        top: 47%;
    }

    .chap__img--place {
        left: -2%;
    }
}

// animation
@keyframes anim-intro {
    0% { opacity:0; }

    66% { opacity:0;
    color: #F0AFB5; }

    100% { opacity:1; 
    color: #75161E;}  
}

@-webkit-keyframes anim-intro {
    0% { opacity:0; }

    66% { opacity:0;
    color: #F0AFB5; }

    100% { opacity:1; 
    color: #75161E;}
}

@keyframes intro-marcus {
    0% {
        left: -50%;
    }
    50% {
        opacity: 0;
    }

    100% {
        left: 10%;
        opacity: 1;
    }
}
@keyframes intro-chat {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
    opacity: 1;
    }
}

@keyframes moonset {
    
    from {
        height: 42%;
        opacity: 1;
    }

    to {
        height: 70%;
        opacity: 0;   
    }
}

@keyframes sunrise {
    
    from {
        height: 70%;
        opacity: 0;   
    }
    20% {
        height: 70%;
        opacity: 0;    
    }

    to{
        height: 42%;
        opacity: 1;
    }
}

@keyframes colorchange {
    from {
        background-color: #022A46;
    }
    to {
        background-color: #9ec6e2;
    }
}

@keyframes filtrecolor {
    from {
        filter: grayscale(80%);
    }

    to{
        filter: grayscale(0%);
    }
}