:root {
    --typo--big-m :84px;
    --typo--normal-m :63px;
    --typo--thin-m :47px;
    --typo--perso-m :27px;
}

//reset
button{
    background-color: transparent;
    border-style: none;
}

li{
    list-style: none;
}

a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

ul{
    padding: 0px;
    margin: 0px;
}
button{
    cursor: pointer;
}

html, body {
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0px;
    padding: 0%;
}

.title {
    color: black;
    font-family: trajan-pro-3, serif;
    margin: 0%;
    padding: 0%;
    

    &--big{
        font-size: var(--typo--big-m );
        
    }

    &--normal{
        font-size: var(--typo--normal-m);
    }

    &--thin{
        font-size: var(--typo--thin-m);
    }
    &--perso{
        font-size: var(--typo--perso-m);
    }
}


.text {
    font-family: 'EB Garamond', serif;
    font-size: 16px;
    margin: 0%;
    padding: 5px 0px 5px 0px;
}

.link {
    background-color: #FFEC89;
    color: black;
    font-family: trajan-pro-3, serif;
    border: none;
    font-size: 16px;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
}

.main {
    height: 100vh;
    position: relative;
}

//landing page 
@media (orientation :portrait) {
    .principaly {

        .intro{
            background-image: url(../assets/images/maison-rome-m.jpg);
        }
    
        .link{
            font-size: 24px;
        }
    }  
}


.catch {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 25%;
    padding: 0px 10px 0px 10px;
}


//jeu
//introduction
.intro {
    background-image: url(../assets/images/maison-rome.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    height: 100vh; 
    position: relative;

    .title {
        text-align: center;
        padding: 10px 0px 10px 0px;
    }
    .link{
        margin: 10px 0px 10px 0px;
    }
    
}

.intro__img {
    height: 200px;
    position: absolute;
    animation: logo 2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro__text{
    animation : text-intro 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    border-right: 2px solid #FFE765; /* The typwriter cursor */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    text-align: center;
    color: #75161E;
}

.intro__title {
    animation: title-intro 2s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//image de marcus
.chap__img {
    width: 17%;
    position: absolute;
    bottom: 0%;
    left: 10%;
    animation: intro-marcus 7s;

}

.chap__img--place {
    left: 1%;
}

.chat {
    border-radius: 20px;
    border: solid 2px #FFDB1C;
    padding: 10px;
    position: absolute;
    bottom: 30px;
    background-color: whitesmoke;
    left: 50%;
    transform: translate(-50%);
    width: 450px;
    //animation: intro-chat 4s;
}

//fond background +soleil/lune
#chap2 {
    background-color: #9ec6e2;
    z-index: -3;
    animation: colorchange 5s;
}
.chambre {
    background-image: url(../assets/images/chambrejour.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%; 
    z-index: 2;
}

.moon {
    background-image: url(../assets/images/lune.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5%;
    position: absolute;
    width: 73%;
    animation: moonset 3s;
}

.sun {
    background-image: url(../assets/images/soleil.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 6%;
    position: absolute;
    height: 42%;
    width: 73%;
    animation: sunrise 5s;
}

.cuisine {
    background-image: url(../assets/images/cuisine.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%; 
}

.table {
    background-image: url(../assets/images/table.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%; 
}

// ele mini jeu
.food {
    height: 30px;
}

.food1{
    height: 20px;
}

.foods {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: flex-end;
}


// cacher
.hide {
    display: none;
}
.hidep{
    display: none;
}

@media (orientation : portrait){
    .hidep {
        display: block;

        .title {
            color: whitesmoke;
        }
    }

    .portrait {
        height: 100vh;
        background-color: #75161E;
        color: whitesmoke;
        display: flex;
        align-items: center;
        padding: 20px;
        justify-content: center;
    }
    .main {
        display: none;
    }
}

@media (min-width: 1000px) {
    .chap__img{
        width: 25%;
    }

    .chat {
        left: 50%;
        transform: translate(-50%);
        margin: 0%;
    }

    .food1{
        height: 40%;
    }
    
    .food {
        height: 50%;
    }

    .foods {
        top: 47%;
    }

    .chap__img--place {
        left: -2%;
    }
}

// animation
@keyframes logo {
    0% {
        height: 200px;
    }
    100% {
        height: 20px;
        opacity: 0;
    }
}

@keyframes title-intro {
    0% { 
        opacity:0; 
        font-size: 20px;
        color: #F0AFB5; 
    }

    100% { 
        opacity:1; 
        font-size: var(--typo--normal-m);        
        color: #75161E;
    }  
}

@keyframes text-intro{
    from {
        opacity: 0;
        width: 0;
        color: #F0AFB5; 
    }
    50% {
        width: 0;
        opacity: 1;
        color: #F0AFB5; 
    }

    to {
        width: 100%;
        color: #75161E;
    }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #FFE765 }
  }

// chapitre 3 animation
@keyframes intro-marcus {
    0% {
        left: -50%;
        opacity: 0;
    }
    40% {
        opacity: 0;
    }

    100% {
        left: 10%;
        opacity: 1;
    }
}
@keyframes intro-chat {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
    opacity: 1;
    }
}

@keyframes moonset {
    
    from {
        height: 42%;
        opacity: 1;
    }

    to {
        height: 70%;
        opacity: 0;   
    }
}

@keyframes sunrise {
    
    from {
        height: 70%;
        opacity: 0;   
    }
    20% {
        height: 70%;
        opacity: 0;    
    }

    to{
        height: 42%;
        opacity: 1;
    }
}

@keyframes colorchange {
    from {
        background-color: #022A46;
    }
    to {
        background-color: #9ec6e2;
    }
}
